@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body {
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh; 
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #6a51db;
    background-image: linear-gradient(0deg, #1c299c 0%, #5690c5 100%);
    background-size:cover;
}

.container-cadastrar {
    width: 300px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: #0d6efd;
    border-radius: 20px;
    color: white;
    background-color: #3513cc;
    background-image: linear-gradient(0deg, #36409c 0%, #6394c2 100%);
    background-size: cover;
    

}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 20px;
}

input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #fff;
    margin-top: 5px;
    outline: none;
}

#resultado {
    margin-top: 20px;
    text-align: center;
}

.return {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px; 
    left: 10px; 
}
.return img {
    margin-right: 8px;
}
.return h4 {
    margin: 0; 
}

.return a{
    text-decoration: none;
}

.cadastrar{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 10px;
}

.cadastrar button{
    height: 60px;
    width: 180px;
    border-radius: 25px;
    border-bottom-style: 2px;
    font-size: 25px;
    background-color: #6a51db;
    color:white;
    font-weight: 600;
    border: none;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    cursor: pointer;

}

.cadastrar button:hover {
    background-color: #136d16; 
    color: white;
    transform: scale(0.98);
}


.return {
    display: flex;
    align-items: center;
}

.return img {
    margin-right: 8px; 
}

.return h4 {
    font-size: 20px;
    color: white;
    margin: 0; 
}

.return a {
    display: flex;
    align-items: center;
    text-decoration: none; 
    color: inherit; 
}
